.plus-jakarta-sans, section {
  font-family: "Plus Jakarta Sans";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


body{
  background-color: antiquewhite;

}

section{
  background-color: #203053;
  color: #FFF;
  width: 50%;
  margin: auto;
  height: 500px;
}

header{
  display: flex;
  padding: 10px;
}

header h1{
  margin: auto;
}

header img{
  width: 100px;
}

.conteudoHome{
  display: flex;
  padding: 20px;
}

.conteudoHome img{
  width: 200px;
}


.conteudoHome h2{
  padding-left: 30px;
}


img{
  width: 30px;
}

.bgblue{
  background-color: #FFF;
  color: #203053;
  border: none;
  padding: 17px;
  border-radius: 10px;
  display: flex;
  margin: auto;
  margin-top: 30px;
}

